@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");

pre, code {
  font-family: "Fira Code", Consolas, Inconsolata, monospace;
  font-weight: 200;
}

.navbar-default {
  background-color: #008cba;
    border-color: #eee;
}

#tocnav ul ul {
    margin-left: 25px;
}
